* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// html,
// body {
//   // width: 100%;
//   // height: 100%;
//   // overflow-x: hidden; // Чтобы избежать горизонтального скролла
// }

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul a {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Наследуем цвет текста от родителя */
}

ul a:active {
  color: inherit; /* Чтобы цвет не менялся при нажатии */
}

@font-face {
  font-family: "Cakra";
  src: url("../assets/fonts/Cakra-Normal.woff2") format("woff2"),
    url("../assets/fonts/Cakra-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Intel-light";
  src: url("../assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardeGothicC";
  src: url("../assets/fonts/avantgardegothicc.woff2") format("woff2"),
    url("../assets/fonts/avantgardegothicc.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../assets/fonts/gilroy-semibold.woff2") format("woff2"),
    url("../assets/fonts/gilroy-semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
// @font-face {
//   font-family: "Gilroy-Bold";
//   src: url("../assets/fonts/gilroy-semibold.woff2") format("woff2"),
//     url("../assets/fonts/gilroy-semibold.woff") format("woff");
//   font-weight: normal;
//   font-style: normal;
// }

@import "./blocks/page.scss";
@import "./blocks/content.scss";
@import "./blocks/navbar.scss";
@import "./blocks/altnavbar.scss";
@import "./blocks/projectsgallery.scss";
@import "./blocks/projectcard.scss";
@import "./blocks/about.scss";
@import "./blocks/projectinfo.scss";
@import "./blocks/project-info-tonyco.scss";
@import "./blocks/project-info-ozon.scss";
@import "./blocks/project-info-yasno.scss";
@import "./blocks/project-info-yo.scss";
@import "./blocks/project-info-lenta.scss";
@import "./blocks/autoscrollcarousel.scss";
@import "./blocks/stickerstackanimation.scss";
@import "./blocks/autocyclecards.scss";
@import "./blocks/project-info-muithom.scss";
@import "./blocks/contact.scss";
@import "./blocks/scrolltotopbutton.scss";
@import "./blocks/project-info-pk.scss";
